*{
    box-sizing: border-box;
    margin: 0;
    padding: 12px;

}
body{
    background: #1C1C1C;
}
.container{
    width: 550px;
    height: 868px;
    margin: 0 auto;
    flex-shrink: 0;
    background: #23252C;
}
.img-container{
margin: 0 auto;
width: 317px;
height: 317px;
flex-shrink: 0;
border-radius: 10px 10px 0px 0px;
background:lightgray -207.665px -133.577px / 210.625% 315.631% no-repeat;
}